.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px;
    margin-top: 50px;
}

.section {
    width: 100%;
    min-height: 300px;
    color: black;
    background-color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 22px;
    text-decoration: none;
}

.section h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.section ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.section li {
    list-style: none;
    line-height: 1.5;
    margin-bottom: 4px;
}

.section a {
    color: #4a4a4a;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}


.section a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, grey, white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 180ms ease;
}
.section a:hover::after {
    transform: scaleX(1);
}

.section a:hover {
    color: black;
}

